{% extends 'base.html.twig' %}

{% block title %}Hello TodoListController!{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice toast show p-3">
            {{ message }}
        </div>
    {% endfor %}

    <div
        style="width: 400px; height: 600px; background: #fffafa;"
        class="todo-container
               position-relative
               m-auto
               p-5
               shadow-lg
               rounded-1"
    >
        <h1 class="h3 text-center">Start something great!</h1>

        <ul class="list-group list-group-flush mt-4">
            {% for item in items %}
                <li class="list-unstyled d-flex align-items-center justify-content-between">
                    {{ form(item) }}
                </li>
            {% endfor %}
            <li class="list-unstyled d-flex align-items-center justify-content-between">
                {{ form(form) }}
            </li>
        </ul>
    </div>
{% endblock %}
